<hr style="margin-bottom: 0; border: dashed;" />
<nav>
    <ul>
        <li><p>© Copyright 2025: Htgar</p></li>
    </ul>
    <ul>
        <li><a href="/rss.xml">RSS</a></li>
        <li><a href="https://github.com/htgar">Github</a></li>
        <li><a href="https://mastodon.world/@htgar">Mastodon</a></li>
    </ul>
</nav>
